
/* main and general styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #fff;
    color: #252526;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* reusable components */

.row{
    max-width: 1140px;
    margin: 0 auto;
}

p{
    font-size: 82%;
    text-align: justify;
    padding: 0 25px;
    margin-top: 34px;
}

section{
    padding: 100px 0;
}

/* links */
a{
    text-decoration: none;
}

/* headings */

h1{
    color: #5E5E5E;
    font-weight: 700;
    font-size: 450%;
    margin: 0 15px; 
}
h2{
    line-height: 150%;
}

/* header */


header{
    background-image:linear-gradient(hsl(0, 0%, 68%),hsla(0, 0%, 68%, 0.192) ), url(img/header-cover.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}



.logo{
    float: left;
    margin-top: 20px;
    height: 70px;
    width: auto;
}

.main-nav{
    float: right;
    list-style: none;
    padding: 30px;
}

.main-nav li{
    display: inline-block;
    margin-left: 25px;
}

.main-nav li a:link, .main-nav li a:visited {
    color: #252526;
    font-weight: 600;
    padding-bottom: 7px;
    transition: border-bottom .2s, color .2s;
}

.main-nav li a:hover , .main-nav li a:active {
   border-bottom: 2px solid #2DEEEE;
   color: #2DEEEE;
}

/* section hi */

.section-hi{
    margin-top: 10%;
}

.section-hi h1{
    text-align: right;
    padding: 0 25px;
}

.section-hi h1::after{
    content: "!";
    color: #2DEEEE;
    font-size: 150%;
}
.section-hi p{
    margin-top: 34px;
}


/* section skills */

.section-skills{
    background-color: rgb(238, 237, 237);
}

.section-skills h1{
    padding : 0 25px;
}

.section-skills h1::after{
    content: "Skills";
    display: block;
    margin: 10px 80px 0;
    color: #2DEEEE;
    font-size: 150%;
}

/* section Projects */

.section-work{
    background-color: #5E5E5E; 
}

.box-highlight{
    width: 60%;
    height: auto;
    margin: 0 20%;
}

.box-highlight img{
    width: 100%;
    border-bottom: 2.5px solid #2DEEEE;
    transform: scale(1);
    transition: transform .2s, box-shadow .2s;
}

.box-highlight img:hover{
    width: 100%;
    border-bottom: 2.5px solid #2DEEEE;
    transform: scale(1.1);
    box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.75);

}
.box-highlight p{
    padding: 0;
    margin : 6px 0;
    color: #ECF0F1;
}

.box-highlight a:link, .box-highlight a:visited {
    color: #2DEEEE;
    font-weight: 600;
    transition: color .2s;
}
.box-highlight a:active, .box-highlight a:hover {
    color: #ECF0F1
}

.projects{
    margin-top: 80px;
}

.box {
    font-size: 95%;
    width: 90%;
    margin: 0 5%;
}

.box img{
    width: 100%;
    height: auto;
}

.box h2{
    font-size: 135%;
}
.box h2::after{
    content: '';
    display: block;
    width : 80px;
    height: 2px;
    background-color: #2DEEEE;
    margin-top: 8px; 
}

.box p{
    padding: 0;
    margin : 12px 0;
    color: #ECF0F1;
}
.box a:link, .box a:visited {
    color: #2DEEEE;
    font-weight: 600;
    transition: color .2s;
}
.box a:active, .box a:hover {
    color: #ECF0F1
}
.section-work h1{
    margin-top: 30px;
    padding : 0 25px;
    color: #2DEEEE;
}

.section-work h1::after{
    content: "Work";
    display: block;
    margin: 10px 80px 0;
    color: rgb(238, 237, 237);
    font-size: 150%;
}

.section-work h3{
    font-size:100%; 
    font-weight: 600;
    color: #ECF0F1;
    margin-bottom: 10px;
}
.section-work h2{
    color: #ECF0F1;
}

/* reach out section */

.reach-out-section{
    background-color: #ECF0F1;
}

.reach-out-section h1{
    padding : 0 25px;
}

.reach-out-section h1::after{
    content: "Out";
    display: block;
    margin: 10px 80px 0;
    color: #2DEEEE;
    font-size: 150%;
}

.container{
    position: relative;
}
.reach-out-section a:link ,.reach-out-section a:visited {
    display: block;
    opacity: .7;
    transition: opacity .2s, transform .2s;
}
.reach-out-section a:hover, .reach-out-section a:active{
    display: block;
    opacity: 1;
    transform: scale(1.5);
}

.reach-out-section .facebook-icon{
    position: absolute;
    color: #3b5998;
    font-size: 180%;
    right: 170px;
    top: 20px;
}
.reach-out-section .facebook{
    position: absolute;
    color: #3b5998;
    font-size: 170%;
    left : 170px;
    top: 120px;
}
.reach-out-section .twitter-icon{
    position: absolute;
    color: #1da1f2;
    font-size: 300%;
    text-align: center;
    top: 170px;
    left: 230px;
}
.reach-out-section .twitter{
    position: absolute;
    color: #1da1f2;
    font-size: 300%;
    text-align: center;
    top: 80px;
    right: 70px;
}
.reach-out-section .github-icon{
    position: absolute;
    color: #333;
    font-size: 250%;
    top: 170px;
    right: 140px;
}
.reach-out-section .github{
    position: absolute;
    color: #333;
    font-size: 250%;
    right: 240px;
    top: 45px;
}
/* footer */

footer{
    background-color: #B0C5C5;
}

footer p{
    margin: 15px;
    padding: 0;
}

footer a:link, footer a:visited{
    font-size: 120%;
    display: inline-block;
    margin: 15px 15px 0 0;
    color: #5E5E5E;
    transition: color .2s;

}

footer a:hover, footer a:active{
    color: #2DEEEE;
}

footer .social{
    float: right;
}